@import url('//fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

body{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-align: center;
}

.voltas{
  font-size: 1.5em;
}

.voltas span{
  font-size: 5em;
}

button{
  background-color: #f9f9f9;
  border: 1px solid black;
  font-size: 1.2em;
  padding: 22px;
  margin: 0 5px;
  cursor: pointer;
}

.tempo span{
  font-size: 2em;
}